.contenedor{
    display: flex;      
}

.contenedor__cardsgeneral{
   width:100%;
   height: 100vh;
   display: block;
   /* padding-left: 1rem;     */
   /* background-color: aquamarine; */
}

/* .contenedor__paginado{
    background-color: aqua;
} */
